In [1]:
# create a simple list comprehension that returns the values each num in nums * 10
nums = [10, 20, 30]
[x * 10 for x in nums]

[100, 200, 300]

In [4]:
# create a simple list comprehension that returns the even numbers of a given list of nums
nums = range(21)
[num for num in nums if num % 2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
# create a simple list comprehension that returns the letters of all colors with names longer than 6 characters in UPPERCASE
# otherwise print the pattern '--x--', cuz it looks kewl
colors = ['yellow', 'blue', 'red', 'green', 'purple', 'redvelvet', 'limestone']
[color.upper() if len(color) > 6 else print("--x--") for color in colors]

--x--
--x--
--x--
--x--
--x--

[None, None, None, None, None, 'REDVELVET', 'LIMESTONE']

In [8]:
# for a given string return it excluding any vowels
message = 'To be or not to be that is the question'
''.join(char for char in message if char not in 'aeiou')

'T b r nt t b tht s th qstn'

In [9]:
# return a list of the first character of a name in each name in a list
names = ['Bob', 'Charles', 'Mary']
[x[0] for x in names]

['B', 'C', 'M']

In [11]:
# given two list [1, 2, 3, 4] and [3, 4, 5, 6] use list comprehension to create a list with the intersection
# of the two original lists
[x for x in [1, 2, 3, 4] if x in [3, 4, 5, 6]]

[3, 4]

In [15]:
# given a list of words ['Charles', 'Isreal', 'Jordyn', 'C4'] return the reverse string for each name
# each name should be in lowercase
[name[::-1].lower() for name in ['Charles', 'Isreal', 'Jordyn', 'C4']]

['selrahc', 'laersi', 'nydroj', '4c']

In [16]:
# for all the numbers 1 - 100 (100 inclusive) return a list of all the numbers divisible by 12
[num for num in range(1, 101) if num % 12 == 0]

[12, 24, 36, 48, 60, 72, 84, 96]

In [17]:
# Given the string 'Route53' return a list of letters not in ['a', 'e', 'i', 'o', 'u']
[char for char in 'amazing' if char not in ['a', 'e', 'i', 'o', 'u']]

['m', 'z', 'n', 'g']

In [18]:
# Nested List Comprehension
# create a 3 dimensional list of '*'
[['*' for x in range(1, 4)] for y in range(1, 4)]

[['*', '*', '*'], ['*', '*', '*'], ['*', '*', '*']]

In [19]:
# using list comprehension create a nested list of values [[0, 1, 2], [0, 1, 2], [0, 1, 2]]
[[x for x in range(0, 3)] for y in range(1, 4)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [21]:
# create a 10x10 nested list of 10 rows each row contains the numbers 0-9
[[x for x in range(0, 10)] for y in range(0, 10)]

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]